.loginHeader{
    background-color: blue;
    color: white;
}

.content {
    flex: 1;
}

body{
    text-align: center !important;
    background-image: url("https://images.pexels.com/photos/265125/pexels-photo-265125.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a{
    color: #ffffff !important;
}

.contact{
    text-align: center;
    width:70% !important;
    margin-left: 15% !important;
    border: 1px solid blue;
} 

footer{
    background-color: blue;
    color: white;
}

.welcome, h3 {
    color:tomato
}

.noborder{
    border: 1px solid blue;
}

.mains{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

td,th, tr{
    border: 1px solid black;
}

th{
    background-color: orange;
}

.formS{
    border: 1px solid #DBD1C9;
    width: 30%;
    margin: 0 auto;
}

.formrow{
    border: 1px solid #DBD1C9;
    text-align: left;
}

.outline{
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #DBD1C9;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.responsive {
    overflow-x: auto;
}


p{
    color: green;
    text-align: center;
    font-style: oblique;
}
