.loginHeader{
    background-color: blue;
    color: white;
}

body{
    text-align: center !important;
}

a{
    color: #ffffff !important;
}

.welcome, h3 {
    color:tomato
}

.contact{
    text-align: center;
    width:70% !important;
    margin-left: 15% !important;
    border: 1px solid blue;
} 

.noborder{
         border: 1px solid blue;
}

footer{
       background-color: blue;
    color: white;
}

.mains{
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
}

td,th, tr{
    border: 1px solid black;
}

th{
    background-color: orange;
}

.formS{
    border: 1px solid white;
    width: 25%;
    margin-left: 40%;
}

.formrow{
    border: 1px solid white;
    text-align: left;
}