/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2021, 12:28:16 PM
    Author     : Chels
*/

.loginHeader{
    background-color: blue;
    color: white;
}

.content {
    flex: 1;
}

body{
    margin-top: 5%;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/5414384/pexels-photo-5414384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.socialMedia{
    margin-left: 48%
}

h1, h2, h3{
    text-align: center;
}

.contact{
    text-align: center;
    width:70%;
    margin-left: 15%;
}

footer{
    background-color: blue;
    color: white;
}

.welcome, h3 {
    color:tomato
}

#addbutton{
    margin-left: 46%;
}

#addbutton2 {
    margin-left: 48.5%;
}

p {
    text-align: center
}

.text-success{
    margin-left: 45%;
    font-style: oblique;
    font-weight: bold;
}

.mainTable2 , .table-warning{
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.mainTable, th{
    border: 1px solid black;
    text-align: center;
    background-color: gainsboro;
}

th {
    padding: 12px;
    background-color: orange;
    color: white;
}
.forms {
    width: 55%;
    margin-left: 25%;
}

.forms2{
    width: 30%;
    margin-left: 35%;
}

.type {
    width: 100%;
    background-color: #f1f1f1;
}

select {
    width: 40%;
    background-color: #f1f1f1;
}

.form-group{
    background: #DBD1C9;
    width: 60%;
    margin-left: 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navi{
    width: 70%;
    text-align: center;
    margin-left: 12%;
    color: white;
    background-color: darkblue;
}

a {
    color: white !important;
}

.roll{
    width: 25% !important;
    padding: 15px !important;
}

.responsive{
    overflow-x: auto;
}

