/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2021, 12:28:16 PM
    Author     : Chels
*/

table, th, td 
{
    border: 1px solid black;
    text-align: center;
}
