body{
    text-align: center !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}

.box1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    margin: 0 auto;
    overflow-x: auto;
}

#BTNS{
    width: 80%;
    margin-left: 10%;
    overflow-wrap: initial;
}

.loginHeader{
    background-color: blue;
    color: white;
}

.contact{
    text-align: center;
    width:70%;
    margin-left: 15%
}

footer{
    background-color: blue;
    color: white;
}

@media only screen and (max-width: 700px) {
  #BTNS {
    font-size: 10px;
  }
}
