.loginHeader{
    background-color: blue;
    color: white;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}

.socialMedia{
    margin-left: 48%
}

p,h1,h2,h3,h4,h5,h6 {
    text-align: center
}

.form-group{
    text-align: center;
}

.welcome {
    color:tomato
}

.contact{
    text-align: center;
    width:70%;
    margin-left: 15%
}

footer{
    background-color: blue;
    color: white;
}

p{
    color: red;
    font-style: oblique;
}