.loginHeader{
    background-color: blue;
    color: white;
}

.content {
    flex: 1;
}

body{
    margin-top: 5%;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1029141/pexels-photo-1029141.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4{
    text-align: center;
}

.contact{
    text-align: center;
    width:70%;
    margin-left: 15%;
}

footer{
    background-color: blue;
    color: white;
}

.navi{
    width: 70%;
    text-align: center;
    margin-left: 12%;
    color: white;
    background-color: darkblue;
}

a {
    color: white !important;
}

.form{
    width: 30%;
    margin: 0 auto;
}

.roll{
    width: 25% !important;
    padding: 15px !important;
}

.socialMedia{
    margin-left: 48%
}

.mainTable, th{
    border: 1px solid black;
    text-align: center;
    background-color: gainsboro;
}

.main{
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

th {
    padding: 12px;
    background-color: orange;
    color: white;
}

.welcome, h3 {
    color:tomato
}

#centerBTN{
    margin-left: 46.5%;
}

#centerBTN1{
    margin-left: 45%
}

.blocks{
    background: #DBD1C9;
    width: 60%;
    margin-left: 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: auto;
}

.responsive{
    overflow-x: auto;
    margin: 0 auto;
}
