<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="OurSafetyPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>java:/comp/env/jdbc/oursafetydb</non-jta-data-source>
    <class>domain.Phone</class>
    <class>domain.Logins</class>
    <class>domain.Company</class>
    <class>domain.Person</class>
    <class>domain.Itemclassfields_1</class>
    <class>domain.Item</class>
    <class>domain.Address</class>
    <class>domain.Companypersonaddress</class>
    <class>domain.Companypositions</class>
    <class>domain.Addressregion</class>
    <class>domain.Inventory</class>
    <class>domain.Manualuse</class>
    <class>domain.Itemclassfields</class>
    <class>domain.Manual</class>
    <class>domain.Positions</class>
    <class>domain.Companynotes</class>
    <class>domain.Companytype</class>
    <class>domain.Companyperson</class>
    <class>domain.Typelibrary</class>
    <class>domain.Url</class>
    <class>domain.Companypersonrole</class>
    <class>domain.Companypersonphone</class>
    <class>domain.Companyrelationship</class>
    <class>domain.Emergencycontact</class>
    <class>domain.Itemclass</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
  </persistence-unit>
</persistence>
